{% extends "layout.html" %}

{% block title %}
    Stock Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="shares" name="shares" min="1" placeholder="No Of Shares" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Buy Now</button>
    </form>
{% endblock %}
