{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-start">Name</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for value in values %}
                {% if value["shares"] > 0 %}
                    <tr>
                        <td class="text-start">{{ value.symbol }}</td>
                        <td class="text-start">{{ value.name }}</td>
                        <td class="text-end">{{ value.shares }}</td>
                        <td class="text-end">{{ usd(value.price) }}</td>
                        <td class="text-end">{{ usd((value.price)*(value.shares)) }}</td>
                    </tr>
                {% endif %}
            {% endfor %}

        </tbody>
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-start">CASH</td>
                <td class="border-0 text-end" colspan="4">{{ usd(cash) }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold text-end">{{ usd(total) }}</td>
            </tr>
        </tfoot>
    </table>

    <img src="/static/img/profit.jpg" alt="" srcset="">
{% endblock %}

